<plugin name='banner-general-common' version='0.2-SNAPSHOT' grailsVersion='1.3.5 &gt; *'>
  <author>SunGard Higher Education</author>
  <authorEmail>horizon-support@sungardhe.com</authorEmail>
  <title>BannerGeneralOverall Plugin</title>
  <description>This plugin is BannerGeneralCommon.</description>
  <documentation>http://sungardhe.com/development/horizon/plugins/general-common</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>com.sungardhe.banner.general.overall.HousingEventBase</resource>
    <resource>com.sungardhe.banner.general.overall.HousingLocationBuildingDescription</resource>
    <resource>com.sungardhe.banner.general.overall.HousingRoomDescription</resource>
    <resource>com.sungardhe.banner.general.overall.IntegrationPartnerSystemRule</resource>
    <resource>com.sungardhe.banner.general.overall.SectionCrossListSection</resource>
    <resource>com.sungardhe.banner.general.overall.SectionMeetingTime</resource>
    <resource>com.sungardhe.banner.general.overall.HousingEventBaseService</resource>
    <resource>com.sungardhe.banner.general.overall.HousingLocationBuildingDescriptionService</resource>
    <resource>com.sungardhe.banner.general.overall.HousingRoomDescriptionService</resource>
    <resource>com.sungardhe.banner.general.overall.IntegrationPartnerSystemRuleService</resource>
    <resource>com.sungardhe.banner.general.overall.SectionMeetingTimeService</resource>
  </resources>
  <dependencies>
    <plugin name='springSecurityCore' version='1.0.1' />
  </dependencies>
  <behavior />
</plugin>