<plugin name='banner-general-validation-common' version='0.0.3' grailsVersion='1.3.5 &gt; *'>
  <author>SunGard Higher Education</author>
  <authorEmail>horizon-support@sungardhe.com</authorEmail>
  <title>BannerGeneralOverall Plugin</title>
  <description>This plugin is BannerGeneralCommon.</description>
  <documentation>http://sungardhe.com/development/horizon/plugins/general-common</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>com.sungardhe.banner.general.system.AcademicYear</resource>
    <resource>com.sungardhe.banner.general.system.AdmissionRequest</resource>
    <resource>com.sungardhe.banner.general.system.AwardCategory</resource>
    <resource>com.sungardhe.banner.general.system.Building</resource>
    <resource>com.sungardhe.banner.general.system.BuildingAndRoomAttribute</resource>
    <resource>com.sungardhe.banner.general.system.CIPCode</resource>
    <resource>com.sungardhe.banner.general.system.Campus</resource>
    <resource>com.sungardhe.banner.general.system.College</resource>
    <resource>com.sungardhe.banner.general.system.CommitteeAndServiceType</resource>
    <resource>com.sungardhe.banner.general.system.County</resource>
    <resource>com.sungardhe.banner.general.system.DayOfWeek</resource>
    <resource>com.sungardhe.banner.general.system.Degree</resource>
    <resource>com.sungardhe.banner.general.system.DegreeLevel</resource>
    <resource>com.sungardhe.banner.general.system.Department</resource>
    <resource>com.sungardhe.banner.general.system.Disability</resource>
    <resource>com.sungardhe.banner.general.system.DisabilityAssistance</resource>
    <resource>com.sungardhe.banner.general.system.DurationUnit</resource>
    <resource>com.sungardhe.banner.general.system.FgacDomain</resource>
    <resource>com.sungardhe.banner.general.system.Function</resource>
    <resource>com.sungardhe.banner.general.system.GeographicRegionAsCostCenterInformationByDisctirctOrDivision</resource>
    <resource>com.sungardhe.banner.general.system.HoldType</resource>
    <resource>com.sungardhe.banner.general.system.InstitutionalDescription</resource>
    <resource>com.sungardhe.banner.general.system.InstructionalMethod</resource>
    <resource>com.sungardhe.banner.general.system.IntegrationPartner</resource>
    <resource>com.sungardhe.banner.general.system.LearnerFieldStudy</resource>
    <resource>com.sungardhe.banner.general.system.LetterProcessLetter</resource>
    <resource>com.sungardhe.banner.general.system.Level</resource>
    <resource>com.sungardhe.banner.general.system.MajorMinorConcentration</resource>
    <resource>com.sungardhe.banner.general.system.MedicalCondition</resource>
    <resource>com.sungardhe.banner.general.system.MedicalEquipment</resource>
    <resource>com.sungardhe.banner.general.system.MeetingType</resource>
    <resource>com.sungardhe.banner.general.system.NameType</resource>
    <resource>com.sungardhe.banner.general.system.Nation</resource>
    <resource>com.sungardhe.banner.general.system.Originator</resource>
    <resource>com.sungardhe.banner.general.system.Partition</resource>
    <resource>com.sungardhe.banner.general.system.PhoneRate</resource>
    <resource>com.sungardhe.banner.general.system.RoomRate</resource>
    <resource>com.sungardhe.banner.general.system.RoomStatus</resource>
    <resource>com.sungardhe.banner.general.system.ScheduleToolStatus</resource>
    <resource>com.sungardhe.banner.general.system.SdaCrosswalkConversion</resource>
    <resource>com.sungardhe.banner.general.system.Site</resource>
    <resource>com.sungardhe.banner.general.system.SourceAndBackgroundInstitution</resource>
    <resource>com.sungardhe.banner.general.system.State</resource>
    <resource>com.sungardhe.banner.general.system.Subject</resource>
    <resource>com.sungardhe.banner.general.system.Term</resource>
    <resource>com.sungardhe.banner.general.system.TermType</resource>
    <resource>com.sungardhe.banner.general.system.TestScore</resource>
    <resource>com.sungardhe.banner.general.system.VisaType</resource>
    <resource>com.sungardhe.banner.general.system.AcademicYearService</resource>
    <resource>com.sungardhe.banner.general.system.CIPCodeService</resource>
    <resource>com.sungardhe.banner.general.system.CampusService</resource>
    <resource>com.sungardhe.banner.general.system.CollegeService</resource>
    <resource>com.sungardhe.banner.general.system.DayOfWeekService</resource>
    <resource>com.sungardhe.banner.general.system.DepartmentService</resource>
    <resource>com.sungardhe.banner.general.system.DisabilityAssistanceService</resource>
    <resource>com.sungardhe.banner.general.system.DisabilityService</resource>
    <resource>com.sungardhe.banner.general.system.InstitutionalDescriptionService</resource>
    <resource>com.sungardhe.banner.general.system.LetterProcessLetterService</resource>
    <resource>com.sungardhe.banner.general.system.LevelService</resource>
    <resource>com.sungardhe.banner.general.system.MedicalConditionService</resource>
    <resource>com.sungardhe.banner.general.system.MedicalEquipmentService</resource>
    <resource>com.sungardhe.banner.general.system.SubjectService</resource>
    <resource>com.sungardhe.banner.general.system.TermService</resource>
    <resource>com.sungardhe.banner.general.system.TermTypeService</resource>
    <resource>com.sungardhe.banner.general.system.TestScoreService</resource>
    <resource>com.sungardhe.banner.general.system.SystemUtility</resource>
  </resources>
  <dependencies>
    <plugin name='springSecurityCore' version='1.0.1' />
  </dependencies>
  <behavior />
</plugin>